<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEZ1Ex-HPozQUQlPPD6REHMtFaEVQ1E2I</string>
	<key>GCM_SENDER_ID</key>
	<string>836590859593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamspirit.Banking-App</string>
	<key>PROJECT_ID</key>
	<string>banking-app-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>banking-app-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836590859593:ios:c49a405d734bf01dcf5698</string>
</dict>
</plist>